.head1 {
    background-image: linear-gradient(to right, red,green,yellowgreen,yellow);
    text-decoration: underline;
    font-size: xx-large;
    text-align: center;
}

.headbox {
    background-color: cadetblue;
    border: 3px solid red;
    border-radius: 12px;
    font-size: large;
    width: 1000px;
    margin: auto;
}

ul {
    list-style-position: inside;
    padding-left: 45%;
}

.lorembox{
    background-color: springgreen;
    border: 2px solid black;
    border-radius: 12px;
}

.lorem {
    background-color: aqua;
    font-size: larger;
    border: 3px solid green;
    border-radius: 12px;
    text-align: center;
    height: 100px;
    width: 400px;
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.box4 {
    margin-left: 460px;
} 

.head2 {
    padding-bottom: 20px;
    background-image: linear-gradient(to right, red,yellow,red);
    text-decoration: underline red 2px;
    text-align: center;
    font-weight: 800;
    font-size: large;
}

.menubox{
    background-image: radial-gradient(circle,blue,#1e90ff,#2ed573);
    border: 1px solid green;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 800;
}

.menu1 {
    background-color: yellow;
    color: brown;
    text-decoration: underline 2px;
    border: 2px solid brown;
    border-radius: 12px;
    text-align: center;
    width: 230px;
    height: 150px;
    line-height: 45px;
    font-size: larger;
}

.menu2 {
    background-color: yellow;
    color: brown;
    text-decoration: underline 2px;
    border: 2px solid brown;
    border-radius: 12px;
    text-align: center;
    width: 230px;
    height: 150px;
    line-height: 45px;
    font-size: larger;
}

.menu3 {
    background-color: yellow;
    color: brown;
    text-decoration: underline 2px;
    border: 2px solid brown;
    border-radius: 12px;
    text-align: center;
    width: 230px;
    height: 150px;
    line-height: 45px;
    font-size: larger;
}

.menu4 {
    background-color: yellow;
    color: brown;
    text-decoration: underline 2px;
    border: 2px solid brown;
    border-radius: 12px;
    text-align: center;
    width: 230px;
    height: 150px;
    line-height: 45px;
    font-size: larger;
}

.redbox {
    background-color: crimson;
    color: white;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.grids {
    width: 100%;
    display: grid;
    grid-template-rows: 90px 240px;
    grid-template-columns: repeat(3, 1fr) 80px;
    grid-gap: 20px;
}

.grid1 {
    background-color: lightgreen;
    color: white;
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
}
.grid2 {
    background-color: lightskyblue;
    color: white;
    font-size: xx-large;
    font-weight: 800;
}
.grid3 {
    background-color: mediumslateblue;
    color: white;
    font-size: x-large;
    font-weight: 800;
    text-align: left;
}
.grid4 {
    color: white;
    background-color: rgb(41, 42, 46);
    font-size: larger;
    height: 350px;

}
.grid5 {
    background-color: goldenrod;
    color: white;
    font-size: xx-large;
    font-weight: 800;
    grid-column-start: 1;
    grid-column-end: 4;
    height: ;
}

.lastbox {
    background-color: cyan;
    font-size: x-large;
    font-weight: 800;
    text-align: center;
}